* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff9f9;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #726565;
  margin: 0px;
}


h1 {
  color: #574437;
  text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
  font-size: 2.2em;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 10px;
}

.header {
  
  top: 0;
  padding: 10px 16px;
  margin-top: 0px;
  background: #ffdcc9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.divider {
  border: none;
  height: 6px;
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

p {
  font-size: 16px;
  color: #4e4d4e;
  font-family: "Gill Sans", sans-serif;
    margin-top: 5px;
  margin-bottom: 10px;
}

.header h1 {
  animation: fadeIn 2s ease-in;
}

.green-text {

color: #00ad65;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
font-size: 25px;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.header img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flower-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.flower-text p {
  margin: 0;
  font-size: 22px;
  color: #66493c;
  font-family: "Gill Sans", sans-serif;
}

.icon {
  width: 24px; 
  height: 24px;
}

.red-text {
  color: rgb(238, 0, 0);
  text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
  font-weight: bold; 
  font-size: 25px;
}

.old-price {
  color: #555;
  text-decoration: line-through;
  font-size: 0.95em;
}

.highlight {
  background: #ffff99; 
  padding: 0.2em 0.4em;
  border-radius: 25%;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-weight: bold;
}

.site-footer {
  width: 100%;
  background-color: #ffe0b3;  padding: 20px;
  padding: 2px 8px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  color: #7a6549;
  line-height: 1;
  margin-top: 30px;
}

.site-footer a {
  color: #7a6549;          
  font-size: 14px;          
  text-decoration: none;    
}
.site-footer a:hover {
  text-decoration: none;  
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background: #fff;
  border: 2px solid #ff7e85;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  max-width: 300px;
  position: relative;
  transition: transform 0.2s ease;
  margin:  10px 0 8px 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.row-divider {
  border-top: 2px dashed #5a5a5a;
  height: 0;
  margin: 10px 0;
  grid-column: 1 / -1;
}

.product-card.green-card {
  border-color: #44ac55;
  background-color: #ffffff;
}

.product-card.yellow-card {
  border: 2px solid transparent;
  background: 
    linear-gradient(white, rgb(255, 255, 255)), /* 本体の背景 */
    linear-gradient(to bottom, rgb(240, 87, 81), rgb(121, 214, 59)); /* 枠のグラデ */
  background-origin: border-box;
  background-clip: padding-box, border-box;
  border-radius: 20px; 
}

.product-card.rusta-card {
  border-color: #b8b8b8;
  background-color: #ffffff;
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  color: #e60039;
  background: #ffff99; 
}
.red {
  color: red;
}
.listn {

  font-size: 25px;
  color:#250003;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
}
.favo {

  color: rgb(52, 89, 145);
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
}

.priceboy {
  color: grey;
  font-weight: bold;
}
.pricev {
  background: #d2efff; 
  font-weight: bold;
  margin: 30px 0 10px 0;
}

.pricei {
  font-weight: bold;
   color: #e60039;
   background: #ffff99; 
}

.old-price {
  color: grey;
  font-weight: bold;
  text-decoration: line-through;

  }

.rusta {
  font-size: 25px;
    color: rgb(0, 2, 0);
 
  font-weight: bold; 

}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-buttons button {
  padding: 10px;
  border: none;
  background: #fff0ae;
  cursor: pointer;
  margin-right: 5px;
  margin: 18px 5px 18px 5px;
  border-radius: 30%;
  transition: all 0.3s ease;
}

.tab-buttons button:hover {
  background: #ffd67f;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
  transform: scale(1.1);
}

.tab-buttons button.active {
  background: #fff67d;
  color: #fff;
  font-weight: bold;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}


::-webkit-scrollbar-track {
  background: #fff1f6; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #f093a3; 
  border-radius: 10px;
  border: 2px solid #ffe5ee; 
}


::-webkit-scrollbar-thumb:hover {
  background: #ff979e; 
}
