
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff9f9;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #726565;
  margin: 0;
}


h1 {
  color: #66493c;
  font-size: 2.2em;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  margin-top: 0px;
  background: ffdcc9;
  color: #f1f1f1;
  font-family: "Gill Sans", sans-serif;
}

p {
  font-size: 1.2em;
  color: #4e4d4e;
}

.header h1 {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.header img {
  margin-top: 10px;
  margin-bottom: 10px;
}


hr.new1 {
  border-top: 1px solid pink;
}

::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

/* 背景（トラック）部分 */
::-webkit-scrollbar-track {
  background: #fff1f6; /* ピンクがかった白 */
  border-radius: 10px;
}

/* つまみ（サム）部分 */
::-webkit-scrollbar-thumb {
  background: #f093a3; /* ライトピンク */
  border-radius: 10px;
  border: 2px solid #ffe5ee; /* 周りの余白風にする */
}

/* ホバー時 */
::-webkit-scrollbar-thumb:hover {
  background: #ff979e; /* 濃いめピンク */
}
