* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #fff9f9;
  font-family: 'Arial', sans-serif;
  text-align: center;
  color: #726565;
  margin: 0px;
}


h1 {
  color: #574437;
  text-shadow: 2px 2px 4px rgba(70, 64, 66, 0.3);
  font-size: 2.2em;
  font-family: "Gill Sans", sans-serif;
  margin-bottom: 10px;
}

.header {
  
  top: 0;
  padding: 10px 16px;
  margin-top: 0px;
  background: #ffdcc9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.divider {
  border: none;
  height: 6px;
  margin: 40px auto;
  width: 80%;
  border-radius: 10px;
  	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
}

p {
  font-size: 16px;
  color: #4e4d4e;
  font-family: "Gill Sans", sans-serif;
    margin-top: 5px;
  margin-bottom: 10px;
}

.header h1 {
  animation: fadeIn 2s ease-in;
}

.green-text {

color: #00ad65;
font-weight: bold;
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.header img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flower-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.flower-text p {
  margin: 0;
  font-size: 22px;
  color: #66493c;
  font-family: "Gill Sans", sans-serif;
}

.icon {
  width: 24px; 
  height: 24px;
}

.red-text {
  color: rgb(238, 0, 0);
  font-weight: bold; 
}

.old-price {
  color: #555;
  text-decoration: line-through;
  font-size: 0.95em;
}

.highlight {
  background: #ffff99; 
  padding: 0.2em 0.4em;
  border-radius: 25%;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-weight: bold;
}

hr.new1 {
  border-top: 1px solid pink;
}


.site-footer {
  width: 100%;
  background-color: #ffe0b3;  padding: 20px;
  padding: 2px 8px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 10px;
  color: #7a6549;
  line-height: 1;
  margin-top: 30px;
}
.site-footer a {
  color: #7a6549;          
  font-size: 14px;          
  text-decoration: none;    
}

.site-footer a:hover {
  text-decoration: none;  
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.product-card {
  background: #fff;
  border: 4px solid #ffe0e0;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 10px;
  text-align: center;
  max-width: 300px;
  position: relative;
  transition: transform 0.2s ease;
  margin:  10px 0 0 1px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}


.product-card.blue-card {
  border-color: #6ba2cf;
  background-color: #ffffff;
}

.product-card img {
  width: 100%;
  max-height: 250px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  color: #e60039;
}
.priceboy {
  font-weight: bold;
}
.pricei {
  font-weight: bold;
   color: #e60039;
   background: #ffff99; 
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    width: 100%;
    font-size: 14px;
  }

  h1 {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .product-grid {
    grid-template-columns: 1fr;
  }

  .tab-buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
}
::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}


::-webkit-scrollbar-track {
  background: #fff1f6; 
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: #f093a3; 
  border-radius: 10px;
  border: 2px solid #ffe5ee; 
}


::-webkit-scrollbar-thumb:hover {
  background: #ff979e; 
}
